<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest Feed</title>
    <link rel="stylesheet" href="/css/feed.css">
</head>
<body>
    
<div class="container">
      
<div class="box">
                <a href="https://images.unsplash.com/photo-1591738802175-709fedef8288?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8aW1hZ2VzfGVufDB8fDB8fHww" >
                <img src="https://images.unsplash.com/photo-1591738802175-709fedef8288?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8aW1hZ2VzfGVufDB8fDB8fHww" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
  </div> 
      
<div class="box">
                <a href="https://images.unsplash.com/photo-1592906209472-a36b1f3782ef?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8aW1hZ2VzfGVufDB8fDB8fHww" >
                <img src="https://images.unsplash.com/photo-1592906209472-a36b1f3782ef?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8aW1hZ2VzfGVufDB8fDB8fHww" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
  </div>
<div class="box">
                <a href="https://images.unsplash.com/photo-1625584566265-2b3761dcc5d3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGltYWdlc3xlbnwwfHwwfHx8MA%3D%3D" >
                <img src="https://images.unsplash.com/photo-1625584566265-2b3761dcc5d3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGltYWdlc3xlbnwwfHwwfHx8MA%3D%3D" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
  </div>

  <div class="box">
                <a href="https://plus.unsplash.com/premium_photo-1667538960183-82690c60a2a5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGltYWdlc3xlbnwwfHwwfHx8MA%3D%3D" >
                <img src="https://plus.unsplash.com/premium_photo-1667538960183-82690c60a2a5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGltYWdlc3xlbnwwfHwwfHx8MA%3D%3D" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
  </div>

<div class="box">
                <a href="https://images.unsplash.com/photo-1616731948638-b0d0befef759?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGltYWdlc3xlbnwwfHwwfHx8MA%3D%3D" >
                <img src="https://images.unsplash.com/photo-1616731948638-b0d0befef759?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGltYWdlc3xlbnwwfHwwfHx8MA%3D%3D" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
  </div>

	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	  <script src="app.js"></script>
      <script src="/js/feed.js"></script>
</body>
</html>