body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.containerpers {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.cardpers {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contain{
    display: flex;
    flex-wrap: wrap; 
    align-items: start;
    margin-top: 20px;
    gap: 10px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 24px;
  margin: 0;
}

.username {
  font-size: 18px;
  color: #777;
  margin: 10px 0;
}

.tagline,
.description {
  color: #555;
  margin: 10px 0;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f30d19;
  color: #fff;
  position: relative;
    left: 600px;
    bottom: 175px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.edit-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #eeece3;
  color: #000;
  position: relative;
    left: 600px;
    bottom: 175px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.data{
  position: relative;
  bottom: 40px;
}

.button-create{
  display: inline-block;
  padding: 10px 20px;
  background-color: #0d78f3;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #be1007;
}
